@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "One Piece";
  src: url("/fonts/one-piece-font/onepiece.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Grandstander";
  src: url("/fonts/grandstander/grandstander.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .bg-radial {
    background: radial-gradient(var(--white), var(--light-orange));
  }
  .bg-gradient-action {
    background: linear-gradient(
      45deg,
      var(--main-button-1) 0%,
      var(--main-button-2) 100%
    );
  }
  .shadow-action {
    box-shadow: 2px 2px 0 var(--color-action-text);
    transition: all 0.3s ease;
  }
  .shadow-action:hover {
    box-shadow: 1px 1px 0 var(--color-action-text);
  }
  .text-default-text {
    background: linear-gradient(
      to right,
      #f32c23 0%,
      #417357 11%,
      #db7627 23%,
      #9e801d 34%,
      #e54c07 45%,
      #ca5952 54%,
      #464478 65%,
      #155a8e 76%,
      #6d6f5e 88%,
      #5696cc 99%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}

:root {
  font-family: "Grandstander";
  line-height: 1.5;
  font-weight: 400;

  --font-onepiece: "One Piece";
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-button-1: #d0a15f;
  --main-button-2: #ecc37e;
  --light-orange: #fff2da;
  --white: #f0f0f0;
  --brown: #4a372b;

  /*Theme colors*/

  /**Background**/

  --default-bg: var(--light-orange);
  --luffy-bg: #ff918b;
  --zoro-bg: #9edab8;
  --usopp-bg: #f7af79;
  --sanji-bg: #ebd079;
  --nami-bg: #faaf7d;
  --chopper-bg: #faa09a;
  --robin-bg: #bebcdd;
  --franky-bg: #91cdf8;
  --brook-bg: #d6d6d3;
  --jinbe-bg: #99bbf0;

  /**Text**/

  /* El color de texto por defecto que se cambiaría es el gradiente linear definido en @layer utilities como text-default-text*/
  --luffy-text: #c40800;
  --zoro-text: #00662d;
  --usopp-text: #aa4b00;
  --sanji-text: #9d7903;
  --nami-text: #cf4000;
  --chopper-text: #c53f37;
  --robin-text: #322f7b;
  --franky-text: #0d5891;
  --brook-text: #31312e;
  --jinbe-text: #215a8b;
}

@theme {
  --color-white: var(--white);
  --color-text: #1e1e1e;
  --color-stroke: var(--brown);
  --color-action-text: var(--brown);
  --color-sec-button: var(--light-orange);
  --color-checkbox: var(--light-orange);
  --color-default-bg: var(--default-bg);
  --color-luffy-bg: var(--luffy-bg);
  --color-zoro-bg: var(--zoro-bg);
  --color-usopp-bg: var(--usopp-bg);
  --color-sanji-bg: var(--sanji-bg);
  --color-nami-bg: var(--nami-bg);
  --color-chopper-bg: var(--chopper-bg);
  --color-robin-bg: var(--robin-bg);
  --color-franky-bg: var(--franky-bg);
  --color-brook-bg: var(--brook-bg);
  --color-jinbe-bg: var(--jinbe-bg);
  --color-luffy-text: var(--luffy-text);
  --color-zoro-text: var(--zoro-text);
  --color-usopp-text: var(--usopp-text);
  --color-sanji-text: var(--sanji-text);
  --color-nami-text: var(--nami-text);
  --color-chopper-text: var(--chopper-text);
  --color-robin-text: var(--robin-text);
  --color-franky-text: var(--franky-text);
  --color-brook-text: var(--brook-text);
  --color-jinbe-text: var(--jinbe-text);

  --font-onepiece: var(--font-onepiece);

  --shadow-card: 0 2px 4px rgba(0, 0, 0, 0.25);
}

button {
  cursor: pointer;
}
